In [185]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import numpy as np
import re
import json
import geopy
from geopy import distance
from datetime import datetime, date
import importlib

In [186]:
# file naming variables
today = date.today()
latest_version = 'df_2023-01-16'
location = '/Users/Sim/Documents/Other/Programming/Personal Projects/property_valuation'

### Loading data

In [187]:
df=pd.read_csv(f'{location}/data/{latest_version}.csv')
len(df)

3580

In [188]:
df.tail()

,Unnamed: 0,Date,Price,NearStat,StatDist(miles),Prop_Type,Bedrooms,Bathrooms,Floor_Size,Outdoor,...,Contract_Type,Outcode,Outcode2,Outcode3,Postcode,Centrality,North,Links,Date_Scraped,Avg_price
3575,3575,20230104.0,500000.0,Edgware Road (Bakerloo) Station,0.2,Flat,NaN,NaN,NaN,1.0,...,Leasehold,W2,W2,W21,W21JB,3.230611,1.0,https://www.rightmove.co.uk/properties/1303880...,2023-01-13,153.0
3576,3576,20221128.0,635000.0,Goodge Street Station,0.0,Apartment,1.0,1.0,NaN,0.0,...,Leasehold,W1T,W1,W1T2,W1T2AG,1.521284,1.0,https://www.rightmove.co.uk/properties/1295223...,2023-01-13,166.0
3577,3577,20221128.0,650000.0,Pimlico Station,0.3,Apartment,1.0,1.0,NaN,1.0,...,Leasehold,SW1V,SW1,SW1V3,SW1V3AX,2.492023,1.0,https://www.rightmove.co.uk/properties/1295186...,2023-01-13,159.0
3578,3578,20221128.0,460000.0,Royal Oak Station,0.2,Apartment,1.0,1.0,NaN,1.0,...,Freehold,W2,W2,W26,W26AZ,4.040076,1.0,https://www.rightmove.co.uk/properties/1295169...,2023-01-13,111.0
3579,3579,20221226.0,645000.0,West Hampstead Station,0.1,Apartment,1.0,1.0,539.0,1.0,...,Leasehold,NW6,NW6,NW61,NW61SD,6.305842,1.0,https://www.rightmove.co.uk/properties/1302515...,2023-01-13,128.0

### Adding Data

In [189]:
# First import the scraping functions
#from ipynb.fs.full.RightMove_Funcs import scrape_results_page
#from ipynb.fs.full.RightMove_Funcs import scrape_listings
%run RightMove_Funcs.ipynb

In [190]:
# First Scraper 
all_apartment_links2 = scrape_results_page()[1]
#all_prices = scrape_results_page()[2]
#all_id_no = scrape_results_page()[3]

In [191]:
# Second Scraper, scraping only properties listed since last scrape
most_recent = int(max(df['Date'])) +1

scraped = scrape_listings(date_from = most_recent, links=all_apartment_links2)

# Obtain variables
all_links,all_features, all_prices = scraped[1], scraped[2],scraped[3]
all_statname, all_statdist, all_outcodes = scraped[4], scraped[5], scraped[6]
all_postcodes, all_centralities, all_dates = scraped[7],scraped[8],scraped[9]

Code is 0% completed
Code is 5% completed
Code is 10% completed
Code is 15% completed
Code is 20% completed
Code is 25% completed
Code is 30% completed
Code is 35% completed
Code is 40% completed
Code is 45% completed
Code is 50% completed
Code is 54% completed
Code is 59% completed
Code is 64% completed
Code is 69% completed
Code is 74% completed
Code is 79% completed
Code is 84% completed
Code is 89% completed
Code is 94% completed
Code is 99% completed

In [192]:
len(all_dates)

150

### Wrangling data

In [193]:
# Creating floor size (sq. ft.) variable

floor_size =[]

for i in range(len(all_features)):
    for j in range(len(all_features[i])):
        if all_features[i][j].endswith('sq. ft.'):
            clean1 = int(re.sub("[^0-9]", "", all_features[i][j]))
            if len(str(clean1)) > 4:   # Fixes instances where floor size is a range (e.g. 439-1051 sq feet)
                clean1 = str(clean1)
                half = int(len(clean1)/2)
                clean1 = int( (int(clean1[0:half]) + int(clean1[half:len(clean1)]) ) / 2)
            elif clean1 > 3000:  # Remove floorsizes > 3000
                clean1 = np.nan
            floor_size.append(clean1)
    if len(floor_size) <= i: 
        floor_size.append(np.nan)

In [194]:
# Keywords and Floor size (different route)

units = ['Sq ft', 'sq ft', 'Sq Ft', 'SQ FT', 'SqFt', 'sqft', 'Sqft', 'Square Feet', 'square feet', 'Square feet', 
         'square foot', 'Square foot', 'Square Foot', 'Sq. Ft.', 'sq. ft.', 'Sq. ft.', 'Sq. Ft','Sq. ft','sq. ft']

floor_size2 = []

# Extracting keywords: porter/concierge/caretaker, balcony/garden/terrace 

porter_list = ['Porter','PORTER','porter', 'Concierge','CONCIERGE','concierge','Caretaker','caretaker','CARETAKER']
outdoor_list = ['Balcony','BALCONY','balcony', 'Terrace','TERRACE','terrace', 'Patio', 'PATIO', 'patio', 'Garden', 'GARDEN', 'garden']

porter = []
outdoor = []

for i in range(len(all_links)):
    # Progress tracker
    if i % (len(all_links)//20) == 0:
        percent = round(i*100/len(all_links))
        print(f'Code is {percent}% completed')

    if i==0:
        r= requests.get(all_links[i])
    else:
        r = ''
        while r == '':
            try:
                r = requests.get(all_links[i])
                break
            except:
                print(f'Connection refused by the server on page {i+1}... sleeping for 3 seconds')
                time.sleep(3)
                print("Was a nice sleep, now let me continue...")
                continue

    soup = BeautifulSoup(r.text, 'lxml')
    
    # floor size
    lst = (soup.find_all("li", class_="lIhZ24u1NHMa5Y6gDH90A"))
    text =[str(x).replace('<li class="lIhZ24u1NHMa5Y6gDH90A">', '').replace('</li>', '') 
     for x in lst]
    floor_size2.append(np.nan)
    for j in text:
        #print(f'entry {clean1}, next text is {j}')
        if any(k in j for k in units):
            try: 
                position = j.index('sq')
            except ValueError: 
                try:
                    position = j.index('Sq')
                except ValueError: 
                    position = j.index('SQ')
                except:
                    pass
            str1 = j[0:position]
            clean1 = int(re.sub("[^0-9]", "", str1))
            if clean1 >= 3000 or clean1 <= 200:
                clean1 = np.nan
            floor_size2[i] = clean1
        else:
            clean1 = np.nan

    # keywords
    lst = (soup.find_all("li", class_="lIhZ24u1NHMa5Y6gDH90A"))
    text =[str(x).replace('<li class="lIhZ24u1NHMa5Y6gDH90A">', '').replace('</li>', '') 
     for x in lst]
    porter.append(0)
    outdoor.append(0)
    for j in text:
        if any(k in j for k in porter_list) and porter[i] < 1:
            porter[i] +=1
        if any(k in j for k in outdoor_list) and outdoor[i] < 1:
            outdoor[i] +=1

Code is 0% complete
Code is 5% complete
Code is 10% complete

In [195]:
# Merge floor size lists
floor_size3 =  [None] * len(floor_size)
for i in range(len(floor_size)):
    if np.isnan(floor_size[i]) == True:
        floor_size3[i] = floor_size2[i]
    else:
        floor_size3[i] = floor_size[i]

In [196]:
# Creating property type variable
prop_type =[]

for i in all_features:
    if i[0] in ('Apartment','Flat','Studio','Maisonette', 'House','Terraced','Mews'):
        prop_type.append(i[0])
    else: 
        prop_type.append('')

In [197]:
# Creating bedrooms & bathrooms variable
bedrooms =[]
bathrooms =[]

import numpy as np

for i in all_features:
    if len(i)==1:
        bathrooms.append(np.nan)
        bedrooms.append(np.nan)
    elif i[0] == 'Studio':
        bedrooms.append(0)
        if i[1].startswith('Ã—'):
            bathrooms.append(int(i[1][1]))
        else:
            bathrooms.append(np.nan)
    elif i[0].startswith('Ã—') and i[1].startswith('Ã—'): 
        bedrooms.append(int(i[0][1]))
        bathrooms.append(int(i[1][1]))
    elif len(i) <= 2:
        bedrooms.append(np.nan)
        bathrooms.append(np.nan)  
    elif i[1].startswith('Ã—') and i[2].startswith('Ã—'): 
        bedrooms.append(int(i[1][1]))
        bathrooms.append(int(i[2][1]))  
    else:
        bedrooms.append(np.nan)
        bathrooms.append(np.nan)

In [198]:
# Extracting keywords: porter/concierge/caretaker, balcony/garden/terrace 

porter = []
outdoor = []
porter_list = ['Porter','PORTER','porter', 'Concierge','CONCIERGE','concierge','Caretaker','caretaker','CARETAKER']
outdoor_list = ['Balcony','BALCONY','balcony', 'Terrace','TERRACE','terrace', 'Patio', 'PATIO', 'patio', 'Garden', 'GARDEN', 'garden']

for i in range(len(all_links)):
    
    # Progress tracker
    if i % (len(all_links)//20) == 0:
        percent = round(i*100/len(all_links))
        print(f'Code is {percent}% completed')
    
    r= requests.get(all_links[i])

    soup = BeautifulSoup(r.text, 'lxml')
    
    # keywords
    lst = (soup.find_all("li", class_="lIhZ24u1NHMa5Y6gDH90A"))
    text =[str(x).replace('<li class="lIhZ24u1NHMa5Y6gDH90A">', '').replace('</li>', '') 
     for x in lst]
    porter.append(0)
    outdoor.append(0)
    for j in text:
        if any(k in j for k in porter_list) and porter[i] < 1:
            porter[i] +=1
        if any(k in j for k in outdoor_list) and outdoor[i] < 1:
            outdoor[i] +=1

Code is 0% completed
Code is 5% completed
Code is 9% completed
Code is 14% completed
Code is 19% completed
Code is 23% completed
Code is 28% completed
Code is 33% completed
Code is 37% completed
Code is 42% completed
Code is 47% completed
Code is 51% completed
Code is 56% completed
Code is 61% completed
Code is 65% completed
Code is 70% completed
Code is 75% completed
Code is 79% completed
Code is 84% completed
Code is 89% completed
Code is 93% completed
Code is 98% completed

In [199]:
# Creating contract type variable

contract =[]

for i in all_features:
    if i[-1] == 'Leasehold':
        contract.append('Leasehold')
    elif i[-1] == 'Share of Freehold':
        contract.append('Freehold')
    else:
        contract.append('')

In [200]:
# Adding new outcode variables

outcode2 =[]
for i in all_outcodes:
    if i[-1].isalpha() == True:
        outcode2.append(i[0:-1])
    else:
        outcode2.append(i)
        
outcode3 =[]
for i in all_postcodes:
    outcode3.append(i[:-2])

In [201]:
# North vs South variable
south = ['SE1','SE5','SE11','SE16','SE15','SE17','SW8','SW11','SW9','SW4','SW2']
north =[]
for i in outcode2:
    if i in south:
        north.append(0)
    else:
        north.append(1)

In [202]:
# date scraped
all_sc_dates = [str(today)] * len(all_links)

In [203]:
# convert to dataframe
data = {"Links": all_links,
        "Date": all_dates,
        "Price": all_prices,
        "NearStat": all_statname,
        "StatDist(miles)": all_statdist,
        "Prop_Type": prop_type,
        "Bedrooms": bedrooms,
        "Bathrooms": bathrooms,
        "Floor_Size": floor_size3,
        "Outdoor": outdoor,
        "Portered": porter,
        "Contract_Type": contract,
        "Outcode": all_outcodes,
        "Outcode2": outcode2,
        "Outcode3": outcode3,
        "Postcode": all_postcodes,
        "Centrality": all_centralities,
        "North": north,
        "Date_Scraped": all_sc_dates,
       }
df2 = pd.DataFrame.from_dict(data)

In [206]:
df.head(10)

,Unnamed: 0,Date,Price,NearStat,StatDist(miles),Prop_Type,Bedrooms,Bathrooms,Floor_Size,Outdoor,...,Contract_Type,Outcode,Outcode2,Outcode3,Postcode,Centrality,North,Links,Date_Scraped,Avg_price
0,0,20211111.0,600000.0,Barbican Station,0.4,Apartment,1.0,1.0,NaN,0.0,...,Leasehold,EC1V,EC1,EC1V3,EC1V3NY,2.845931,1.0,NaN,2022-09-02,109.0
1,1,20220826.0,450000.0,Angel Station,0.2,Apartment,1.0,1.0,NaN,0.0,...,Leasehold,EC1V,EC1,EC1V4,EC1V4LB,2.880314,1.0,NaN,2022-09-02,134.0
2,2,20220318.0,600000.0,Battersea Power Underground Station,0.2,Flat,1.0,1.0,NaN,1.0,...,Leasehold,SW11,SW11,SW118,SW118EB,2.987774,0.0,NaN,2022-09-02,185.0
3,3,20220826.0,650000.0,Chancery Lane Station,0.2,Flat,1.0,1.0,NaN,0.0,...,Leasehold,WC1V,WC1,WC1V7,WC1V7HH,1.418421,1.0,NaN,2022-09-02,NaN
4,4,20220826.0,550000.0,Pimlico Station,0.2,Flat,2.0,1.0,NaN,0.0,...,Leasehold,SW1P,SW1,SW1P4,SW1P4NR,1.790709,1.0,NaN,2022-09-02,142.0
5,5,20220826.0,550000.0,Old Street Station,0.4,Flat,NaN,NaN,NaN,1.0,...,Leasehold,EC1V,EC1,EC1V1,EC1V1AE,3.309494,1.0,NaN,2022-09-02,117.0
6,6,20220826.0,480000.0,Swiss Cottage Station,0.1,Maisonette,2.0,1.0,NaN,1.0,...,Leasehold,NW6,NW6,NW64,NW64TL,5.062024,1.0,NaN,2022-09-02,97.0
7,7,20220627.0,795000.0,Caledonian Road & Barnsbury Station,0.5,Apartment,2.0,2.0,814.0,1.0,...,Leasehold,N7,N7,N79,N79GY,3.877639,1.0,NaN,2022-09-02,96.0
8,8,20220826.0,600000.0,Royal Oak Station,0.1,Flat,1.0,1.0,NaN,1.0,...,NaN,W2,W2,W26,W26AN,4.298913,1.0,NaN,2022-09-02,111.0
9,9,20220826.0,550000.0,St. James's Park Station,0.3,Flat,1.0,1.0,NaN,0.0,...,Freehold,SW1P,SW1,SW1P2,SW1P2QA,1.416217,1.0,NaN,2022-09-02,139.0

In [207]:
# Check for no dataframe overlap (listings duplicated across both dataframes)
counter = 0
for i in range(len(df['Links'])):
    for j in range(len(df2['Links'])):
        if df.iloc[i,1] == df2.iloc[j,0]:
            counter +=1
            print(f'Overlap at {i} and {j}')
print(f'total overlap = {counter}')

total overlap = 0

In [208]:
# Remove any rows with price less than 10k
df2 = df2.drop(df2[df2.Price < 10000].index)

In [209]:
len(df2)

150

### Adding relevant area data

In [210]:
# Scraping the data
r= requests.get('https://www.plumplot.co.uk/London-house-prices.html')
soup = BeautifulSoup(r.text, 'lxml')

rows = soup.find_all("tr")

outcode, avg_price = [], []
for i in range(4,964):
    outcode.append(rows[i].find(lambda tag: tag.name == 'td' and 
              tag.get('class') == ['mh2']).text)
    outcode[i-4] = outcode[i-4].replace(" ", "")
    avg_price.append(rows[i].find("td", class_="mh2 text-right").text)
    avg_price[i-4] = int(avg_price[i-4][:-1])

area_df = pd.DataFrame.from_dict({"Outcode3": outcode, "Avg_price": avg_price})

In [212]:
df2 = df2.merge(area_df, on='Outcode3', how='left')

### Joining datasets

In [214]:
# Remove redundant column (old index)
df = df.iloc[:,1:]

In [216]:
# Insert code to append newly scraped data to original df
df3 = df.append(df2)
len(df3)

/var/folders/xr/66lxz3_s6fg65z7bpjgp_yc80000gn/T/ipykernel_19233/2515260840.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df.append(df2)

3730

In [220]:
df3.tail(3)

,Date,Price,NearStat,StatDist(miles),Prop_Type,Bedrooms,Bathrooms,Floor_Size,Outdoor,Portered,Contract_Type,Outcode,Outcode2,Outcode3,Postcode,Centrality,North,Links,Date_Scraped,Avg_price
147,20230116,725000.0,Tufnell Park Station,0.3,Apartment,2.0,2.0,970.0,1.0,0.0,Leasehold,N7,N7,N70,N70PU,5.526691,1.0,https://www.rightmove.co.uk/properties/1307510...,2023-01-22,98.0
148,20230120,760000.0,Maida Vale Station,0.1,Flat,2.0,1.0,NaN,1.0,0.0,Leasehold,W9,W9,W91,W91PE,4.829712,1.0,https://www.rightmove.co.uk/properties/1309132...,2023-01-22,166.0
149,20230116,795000.0,Baker Street Station,0.0,Flat,2.0,2.0,NaN,0.0,1.0,Leasehold,NW1,NW1,NW15,NW15SD,2.687901,1.0,https://www.rightmove.co.uk/properties/1307754...,2023-01-22,148.0

In [219]:
# Save to csv
today = date.today()
df3.to_csv(f'{location}/data/df_{today}.csv')