In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json

In [96]:
# Scraping the data
r= requests.get('https://www.plumplot.co.uk/London-house-prices.html')
soup = BeautifulSoup(r.text, 'lxml')

rows = soup.find_all("tr")

outcode, avg_price = [], []
for i in range(4,964):
    outcode.append(rows[i].find(lambda tag: tag.name == 'td' and 
              tag.get('class') == ['mh2']).text)
    outcode[i-4] = outcode[i-4].replace(" ", "")
    avg_price.append(rows[i].find("td", class_="mh2 text-right").text)
    avg_price[i-4] = int(avg_price[i-4][:-1])

df = pd.DataFrame.from_dict({"Outcode3": outcode, "Avg_price": avg_price})

In [102]:
df.tail(40)

    Outcode3  Avg_price
920      W84        300
921      W85        528
922      W86        378
923      W87        632
924      W91        166
925      W92        132
926      W93         79
927    WC1A1         76
928    WC1A2        111
929    WC1B3        312
930    WC1B4         60
931    WC1B5        184
932    WC1E6        100
933    WC1E7        139
934    WC1H0         39
935    WC1H8         73
936    WC1H9         87
937    WC1N1         87
938    WC1N2        212
939    WC1N3        124
940    WC1R4         99
941    WC1V6        127
942    WC1X0        132
943    WC1X8         96
944    WC1X9        146
945    WC2A2        582
946    WC2A3       1114
947    WC2B4        165
948    WC2B5        105
949    WC2B6        323
950    WC2E7        157
951    WC2E8        743
952    WC2E9        147
953    WC2H8        128
954    WC2H9        138
955    WC2N4        209
956    WC2N5        272
957    WC2N6        179
958    WC2R0         92
959    WC2R1        237

In [101]:
df.loc[df["Outcode3"] == 'WC1V7']

Empty DataFrame
Columns: [Outcode3, Avg_price]
Index: []